<div class="overflow-clip">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                @for(header of books().headers; track $index) {
                <th scope="col" class="px-6 py-3">
                    {{header}}
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for(book of rowsFormatted(); track $index) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                @for(bookEntry of book; track $index) {
                <td class="px-6 py-4">
                    {{bookEntry}}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>