<div class="flex justify-center items-center">
  <div class="max-w-1xl bg-white rounded-lg shadow-md dark:bg-gray-800">
    <img class="rounded-t-lg w-full h-60 object-contain px-10 py-5" [src]="book().image" alt="Portada del libro">
    <div class="p-5">
      <h5 class="text-gray-900 text-xl text-center font-medium leading-tight dark:text-white three-dots-overflow">{{ book().title }}</h5>
      <p class="mt-2 text-gray-700 dark:text-gray-400 three-dots-overflow">Autor: {{ book().author }}</p>
      <p class="mt-2 text-gray-700 dark:text-gray-400 three-dots-overflow">Saga: {{ book().series }}</p>
    </div>
  </div>
</div>